#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    browser_song_sort: [Filename],
    directories_sort: SortFormat(group_by_type: true, reverse: true),
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: "theme.ron",
    cache_dir: Some("/tmp/rmpc/cache"),
    status_update_interval_ms: 1000,
    enable_mouse: true,
    enable_config_hot_reload: true,
    select_current_song_on_change: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 0, height: 0),
        vertical_align: Center,
        horizontal_align: Center,
    ),
    cava: (
        framerate: 60,
        autosens: true,
        sensitivity: 130,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 20,
            monstercat: true,
            waves: false,
        ),
    ),
    keybinds: (
        global: {
            "H":       ShowHelp,
            "O":       ShowOutputs,
            "I":       ShowCurrentSongInfo,
            "<C-p>":   ShowDecoders,
            ":":       CommandMode,
            "=":       VolumeUp,
            "-":       VolumeDown,
            "p":       TogglePause,
            "s":       Stop,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "<Right>": NextTab,
            "<S-Left>":  PreviousTab,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Playlists"),
            "4":       SwitchToTab("Search"),
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleSingle,
            "f":       SeekForward,
            "b":       SeekBack,
        },
        navigation: {
            "N":           PreviousResult,
            "n":           NextResult,
            "<Space>":     Select,
            "<CR>":        Confirm,
            "<C-u>":       UpHalf,
            "<C-d>":       DownHalf,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "i":           FocusInput,
            "/":           EnterSearch,
            "a":           Add,
            "A":           AddAllReplace,
            "r":           Rename,
            "J":           MoveDown,
            "K":           MoveUp,
            "h":           Left,
            "j":           Down,
            "k":           Up,
            "l":           Right,
            "K":           PaneUp,
            "J":           PaneDown,
            "H":           PaneLeft,
            "L":           PaneRight,
            "<C-Up>":      UpHalf,
            "<C-Down>":    DownHalf,
            "T":           Top,
            "B":           Bottom,
            "<Up>":        Up,
            "<Down>":      Down,
            "<Left>":      Left,
        },
        queue: {
            "D":           DeleteAll,
            "<CR>":        Play,
            "<C-s>":       Save,
            "a":           AddToPlaylist,
            "d":           Delete,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Vertical,
                panes: [
                    (
                        size: "65%",
                        pane: Split(
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "30%",
                                    borders: "LEFT | RIGHT | TOP | BOTTOM",
                                    border_symbols: Rounded,
                                    pane: Pane(AlbumArt)
                                ),
                                (
                                    size: "100%",
                                    borders: "LEFT | RIGHT | TOP | BOTTOM",
                                    border_symbols: Rounded,
                                    pane: Pane(Queue),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "35%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100",
                                    borders: "LEFT | RIGHT | TOP | BOTTOM",
                                    border_symbols: Rounded,
                                    pane: Pane(Cava)
                                ),
                            ],
                        ),
                    )
                ],
            ),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)